{% extends "base.html.twig" %}

{% block title %}Réservation - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container main-container">
        {% include "inc/title.html.twig" %}
        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    {% include "inc/prices.html.twig" %}
                </div>
                <div class="col-xs-12 col-sm-6 booking-form">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}

                    <p class="form-buttons text-right">
                        <button type="submit" class="btn continuer-button" id="submit"><strong>Continuer</button>
                    </p>
                    {{ form_end(form) }}
                </div>
                <noscript>
                    <div class="col-xs-12 col-sm-3">
                        <div class="alert alert-warning text-justify">
                                Cher visiteur, il semblerait
                                que le langage JavaScript soit désactivé sur
                                votre navigateur. Le système de réservation du musée
                                du Louvre fonctionne grâce à ce langage et serait plus
                                agréable et intuitif si vous l'utilisiez.
                        </div>
                    </div>
                </noscript>
            </div>
        </div>
    </div>
{% endblock %}
