{% extends "base.html.twig" %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div class="container">

        <div class="alert alert-info tarifs-container">
            <h3>Tarifs</h3>
            <ul>
                <li>12 &euro; à partir de 12 ans (tarif &laquo; normal &raquo;)</li>
                <li>8 &euro; à partir de 4 ans et jusqu'à 12 ans (tarif &laquo; enfant &raquo;, entrée gratuite pour les moins de 4 ans)</li>
                <li>12 &euro; à partir de 60 ans (tarif &laquo; senior &raquo;)</li>
                <li>10 &euro; dans certaines conditions (tarif &laquo; réduit &raquo; pour étudiants, employés de musée, service du Ministère de la Culture, militaires, ...)</li>
            </ul>
        </div>

        <div id="reservation">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    {{ form(form) }}
                </div>

                <div class="col-xs-12 col-sm-offset-1 col-sm-4">
                    <div class="summary well">
                        <p>Aucune données entrées pour le moment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}