{% extends 'base.html.twig' %}

{% block title %}
    Réservation réussie !
{% endblock %}

{% block body %}
    <div class="container main-container success-page">
        <h1>Félicitations, la réservation de votre billet a bien été prise en compte.</h1>
    </div>
{% endblock %}