<header>
    <h1 class="page-header text-center">
        <a href="{{ path('homepage') }}" class="toHomepage">
            <img src="{{ asset('images/logo.png') }}" class="website-logo" alt="Musée du Louvre">
        </a><br>
        <small>Réservation en ligne</small>
    </h1>
</header>
